<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    
    <body>
    <ul class="navbar" role="navigation">
        <li class="yelpLogo"> <a href="/campgrounds">YelpCamp</a></li>
        <li class="aboutUs"><a href="#about">About</a></li>
        <% if(!currentUser){ %>
            <li class="login"><a  href="/login">Login</a></li>
        <% } else { %>
            <li class="signinAs"><a href="#">Signed In As <%= currentUser.username %></a></li>
            <li class="logout"><a class="logout" class="logout" href="/logout">Logout</a></li>
        <% } %>
    </ul>

    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    