<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>

    <body>    
    <ul class="navbar"  role="navigation">
        <li class="yelpLogo"> <a href="/campgrounds">YelpCamp</a></li>
        <li><a href="/about">About</a></li>
        <% if(!currentUser){ %>
            <li><a  href="/login">Login</a></li>
        <% } else { %>
            <li><a href="/logout">Logout</a></li>
        <% } %>
    </ul>

    <!-- Passport logic -->
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>