<link rel="stylesheet" type="text/css" href="/stylesheets/comments.css">
<div class="container">
    <h1>Add a New Comment</h1>
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="commentBox">
            <textarea class="comment" id="text" type="text" name="comment[text]" placeholder="Type here..."></textarea> <ul>
                <li class="submit"><input type="submit" value="Submit"></li>
                <li><a href="/campgrounds/<%= campground._id%>">Cancel</a></li>
            </ul>
        </div>
    </form>
</div>
   





