<%include ./partials/header%>
<link rel="stylesheet" href="/stylesheets/about.css">
<div class="container">
	<div class="founded">
		<h1>Yelpcamp</h1>
		<p><em>Founded in 2018</em></p>
	</div>
  	<div class="yelpImg">
    	<img src="/images/campscape.jpg">
  	</div>
  	<div class="meetEs">
	    <h1>Meet Esther</h1>
	    <p>Motivated by the desire to share her passion for adventure, Esther took Yelpcamp around the world to 
		becoming the most trusted campground guide.</p>
	</div>
	<div class="esImg">
		<img src="/images/Esther.jpg">
	</div>
	<div class="esGoal">
		<p>Born in Paris, France. By the time she was 22, Esther had already traveled across 3 continents and explored spectacular sites. Today, her goal is to bring together a community of novices and experts who love campging.</p>
	</div>
</div>
<%include ./partials/footer%>