<link rel="stylesheet" href="/stylesheets/authenticate.css">
<div class="container">
	<h1>Login!</h1>
	<form action="/login" method="POST">
		<div class="loginInput">
			<label for="username">Username</label>
		    <input type="text" id="username" name="username">

		    <label for="password">Password</label>
		    <input type="password" id="password" name="password">

		    <input class="loginBtn" type="submit" value="Login">
		</div>
	</form>
</div>

	




