<link rel="stylesheet" href="/stylesheets/authenticate.css">
<div class="container">
	<h1>Sign Up!</h1>
	<form action="/register" method="POST">
		<div class="registerInput">
			<label for="username">Username</label>
			<input type="text" id="username" name="username">

			<label for="password">Password</label>
			<input type="password" id="password" name="password">
		
			<input class="signupBtn" type="submit" value="Sign Up">
		</div>
	</form>
</div>




