<%include ../partials/header%>
<link rel="stylesheet" href="/stylesheets/index.css">
<div class="yelpcampContainer"> 
  <header>
    <h1>YelpCamp</h1>
    <p> Experience unique campgrounds. Review our hand-picked selection.</p>
    <a class="addCamp" href="/campgrounds/new">Add a Campground</a>
  </header>

  <main>
    <% campgrounds.forEach(function(campground){ %>
      <div class="campground">
        <img src="<%= campground.image %>">
        <h3><%= campground.name %></h3>
         <p class="campDesc"><%= campground.description%></p>
        <a class="learnMore" href="/campgrounds/<%= campground._id %>">Learn More</a>
      </div> 
    <% }); %>  
  </main>
</div>
<%include ../partials/footer%>