<%include ../partials/header%>
<link rel="stylesheet" href="/stylesheets/index.css">
<div class="yelpcampContainer"> 
  <header>
    <h1>YelpCamp</h1>
    <p> Experience unique campgrounds. Review our hand-picked selection.</p>
    <a class="addCamp" href="/campgrounds/new">Add a Campground</a>
  </header>

  <main>
    <% campgrounds.forEach(function(campground){ %>
      <ul class="campground">
        <li><img src="<%= campground.image %>"></li>
        <li><h3><%= campground.name %></h3></li>
        <li class="campDesc"><p><%= campground.description%></p></li>
        <li><a class="learnMore" href="/campgrounds/<%= campground._id %>">Learn More</a></li>
      </ul> 
    <% }); %>  
  </main>
</div>
<%include ../partials/footer%>