<link rel="stylesheet" href="/stylesheets/campgrounds.css">
<div class="container">
    <h1>Create a New Campground</h1>
    <form action="/campgrounds" method="POST">
        <div class="newCamp">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
           
            <label for="price">Price</label>
            <input class="form-control" type="number" name="price" id="price" min="0.01" step="0.01">
           
            <label for="image">Image url</label>
            <input id="image" type="text" name="image">
               
            <label for="description">Description</label>
            <textarea id="description" type="text" name="description"></textarea>
               
            <input class="submitBtn" type="submit" value="Submit">
            <a href="/campgrounds">Go Back</a>
        </div>
    </form>       
</div>