body{
	background: #E29E21;
	color: white;
	width: 100%;
	margin: 0px;
}
ul{
	list-style: none;
	padding-inline-start: 0px;
}
a{
	cursor: pointer;
  	text-decoration: none;
  	color: white;
  	text-align: center;
  	border-radius: 7px;
}
img{
    width: 100%;
    height: 192px;
}


/*Navbar: Header Partials*/
ul.navbar{
	display: flex;
}
.yelpLogo{
	margin-right: auto;
}
.navbar a{
	cursor: pointer;
	border: 1.5px solid #F5AE34;
	padding: 5px 9px 5px 9px;
	margin: 20px;
	border-radius: 7px !important;
	background:  #E29E21;
	color: white;
}
/* End of Navbar*/


.yelpcampContainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}
header {
    grid-column: 1/-1;
    height: 220px;
    background: #E29E21;
    text-align: center;
    color: white;
}
main {
    grid-column: 1/-1;
    background: #f9fcfbfa;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.yelpcampContainer p{
	margin-bottom: 40px;
	text-align: center;
}
.yelcampContainer li{ 
	text-align: center;
}
a.addCamp{
	background: #F5AE34;
	border: 1px solid #F5AE34;
  	padding: 9px;
}
ul.campground{
	grid-template-columns: 4fr;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #4C8077;
	background: #304d68;
	margin: 12px;
	height: 445px;
}
.campDesc{
	height: 120px;
	margin-bottom: 20px;
}
a.learnMore{
	border: 1px solid #F5AE34;
  	padding: 7px 9px 7px 9px;
  	background: #E29E21;
}

