body{
	background: #E29E21;
	color: #00624D;
	width: 100%;
}
img{
	width:100%;
	height: 100%;
}
button, input{
	color: #86afa6;
}
.container{
	background: #f9fcfbfa;
	width: 100%;
	height: 100%;
	padding-bottom: 10px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}
.campImg{
	grid-column: 2/8;
	grid-row: 2/-1;
} 
.campInfo{
	grid-column: 8/12;
	grid-row: 2/-1;
	background: white;
	padding: 0 15% 0 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.addComment{
	grid-column: 5/9;
	grid-row: 10/11;
	border-radius: 5px;
	padding: 5px;
	background: #86afa6;
	color: white !important;
	text-align: center;
	margin: 43px 0 20px 0;
}
.comments{
	grid-column: 2/12;
	grid-row: 11/auto;
	background: white;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #009C9B;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}
.commentsInfo{
	grid-column: 4/10;
	grid-row: auto;
	border: 1.5px solid beige;
	border-radius: 5px;
	padding: 0 6%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
ul.post{
	margin-block-end: 0px;
}
.campRight{
	display: flex;
	align-self: flex-end;
}
.campRight a{
	color: #86afa6;
	margin-right: 5px;
}
.campDesc{
		font-size: large;
	}
ul.editComment{
	align-self: flex-end;
	display: flex;
}
.editComment a{
	color: #86afa6;
	margin: 0 10px 0 5px;
}


@media screen and (min-width: 1170px){
	.container{
		padding-top:30px;
	}
	.campImg{
	grid-column: 3/7;
	grid-row: 2/-1;
	} 
	.campInfo{
	grid-column: 7/11;
	grid-row: 2/-1;
	}
	.comments{
		grid-column: 3/11;
	}
	.campDesc{
		font-size: x-large;
	}
}
@media screen and (max-width: 800px){
	h1{
		font-size: 1.5em;
	}
	.campInfo{
		padding: 0 9% 0 9%;
	}
	.campDesc{
		font-size: large;
	}
	form{
		padding-bottom: 6px;
	}
	.commentsInfo{
		grid-column: 3/11;
	}
}
@media screen and (max-width: 512px){
	.container{
		padding-top:5px;
	}
	.campInfo{
		grid-column: 2/12;
		grid-row: 3/4;
	}
	.campImg{
		grid-column: 2/12;
		grid-row: 2/3;
	}
	.commentsInfo{
		grid-column: 2/11;
	}
}